<ion-content [fullscreen]="true" class="ion-padding">
  <div class="title-container">
    <ion-label class="title-text">Mis viajes</ion-label>
  </div>

  <ul class="list">
    <li class="list-item" *ngFor="let viaje of viajes">
      <div class="list-content">
        <div class="profile">
          <img [src]="imagen(viaje)" alt="Estado del viaje">
        </div>
        <div class="details">
          <p class="name">Destino</p>
          <p class="conductor">{{ viaje.destino }}</p>
          <p class="name">{{viaje.conductor}}</p>
        </div>
        <div class="amount-date">
          <p class="tariff">Tarifa</p>
          <p class="amount">${{viaje.tarifa}}</p>
          <p class="date">{{viaje.fecha}}</p>
          <p class="date">{{viaje.horat}}</p>
        </div>
      </div>
    </li>
  </ul>

<div class="button-container">
  <ion-button  expand="block" color="light" (click)="obtenerViajes()">Actualizar</ion-button>
  <ion-button class="back-button" expand="block" color="light" (click)="goBack()">Volver</ion-button>
</div>
  
</ion-content>