<ion-content [fullscreen]="true" class="ion-padding">
  <div class="title-container">
    <ion-label class="title-text">Mis viajes</ion-label>
  </div>

  <ul class="list">
    <li class="list-item">
      <div class="list-content">
        <div class="profile">
          <img src="/../../../assets/icon/en_progreso.png" alt="">
        </div>
        <div class="details">
          <p class="name">Joaquín Ramírez</p>
          <p class="patente">FFGG-78</p>
        </div>
        <div class="amount">$3200</div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-content">
        <div class="profile">
          <img src="/../../../assets/icon/check.png" alt="">
        </div>
        <div class="details">
          <p class="name">William Chamorro</p>
          <p class="patente">KKDD-45</p>
        </div>
        <div class="amount">$3467</div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-content">
        <div class="profile">
          <img src="/../../../assets/icon/cancelado.png" alt="">
        </div>
        <div class="details">
          <p class="name">Manuel Páez</p>
          <p class="patente">ERHV-12</p>
        </div>
        <div class="amount">$6700</div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-content">
        <div class="profile">
          <img src="/../../../assets/icon/check.png" alt="">
        </div>
        <div class="details">
          <p class="name">Tomás López</p>
          <p class="patente">LLRT-23</p>
        </div>
        <div class="amount">$2367</div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-content">
        <div class="profile">
          <img src="/../../../assets/icon/check.png" alt="">
        </div>
        <div class="details">
          <p class="name">Raúl Hermosilla</p>
          <p class="patente">QERX-86</p>
        </div>
        <div class="amount">$3670</div>
      </div>
    </li>
  </ul>
  
</ion-content>