<ion-content [fullscreen]="true" class="ion-padding">
  <div class="title-container">
    <ion-label class="title-text">Mis viajes</ion-label>
  </div>

  <ul class="list">
    <li class="list-item" *ngFor="let viaje of viajes">
      <div class="list-content">
        <div class="profile">
          <img [src]="imagen(viaje)" alt="Estado del viaje">
        </div>
        <div class="details">
          <p class="passengers">Pasajeros:{{ viaje.pasajeros }}</p>
          <p class="conductor">Destino:{{ viaje.destino }}</p>
        </div>
        <div class="amount-date">
          <p class="total-gain">Ganancia total</p>
          <p class="amount">${{ viaje.tarifa * viaje.pasajeros }}</p>
          <p class="date">{{ viaje.fecha }}</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="button-container">
    <ion-button  expand="block" color="light" (click)="obtenerViajes()">Actualizar</ion-button>
    <ion-button  expand="block" color="light" (click)="goBack()">Volver</ion-button>
  </div>
</ion-content>
