<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-title">Cambiar contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label class="custom-label" position="floating">Nueva contraseña</ion-label>
      <ion-item>
        <ion-input type="password" name="newPassword" placeholder="Ingrese nueva contraseña" [(ngModel)]="newPassword" required></ion-input>
      </ion-item>

      <ion-label class="custom-label" position="floating">Repetir contraseña</ion-label>
      <ion-item>
        <ion-input type="password" name="confirmPassword" placeholder="Repita la contraseña" [(ngModel)]="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="custom-button" (click)="changePassword()">Cambiar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
