<ion-content [fullscreen]="true" class="ion-padding">

  <div id="mapa-box" style="width: 100%;height: 400px;"></div>

  <div *ngFor="let viaje of viajes">
    <div  class="button-row">
      <ion-button>{{ "Estado: " + viaje.estadoviaje }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>{{ "Origen: " + viaje.origen }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>{{ "Destino: " + viaje.destino }}</ion-button>
    </div>
    <div class="button-row">
      <ion-button>Tarifa: ${{ viaje.tarifa  }}</ion-button>
      <ion-button>Capacidad: {{viaje.pasajeros}}/{{ viaje.capacidad  }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>Inicio:{{ viaje.hora}}</ion-button>
      <ion-button>{{viaje.fecha}}</ion-button>
    </div>

    <div  class="button-row">
      <ion-button>Pasajeros Confirmados: {{ viaje.pconfirmados}}</ion-button>
    </div>

  </div>
 
  


  <ion-button *ngIf="ocultarBoton" expand="block" (click)="QR()"><img src="../../../assets/icon/qr.png"  ></ion-button>

  <div class="button-container">
    <ion-button expand="block" class="start-button" *ngIf="ocultarBoton" (click)="iniciarviaje()">Iniciar</ion-button>
    <ion-button class="back-button" expand="block" color="light" (click)="goBack()">Volver</ion-button>
    <ion-button expand="block" class="end-button" *ngIf="mostrarBoton" (click)="finalizarviaje()">Finalizar</ion-button>
  </div>


</ion-content>




