<ion-content [fullscreen]="true" class="ion-padding">

  <div id="mapa-box" style="width: 100%;height: 400px;"></div>

  <div *ngFor="let viaje of viajes">
    <div  class="button-row">
      <ion-button>{{ "Estado: " + viaje.estadoviaje }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>{{ "Origen: " + viaje.origen }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>{{ "Destino: " + viaje.destino }}</ion-button>
    </div>
    <div  class="button-row">
      <ion-button>Tarifa: ${{ viaje.tarifa }}</ion-button>
      <ion-button>Capacidad: {{viaje.pasajeros}}/{{ viaje.capacidad  }}</ion-button>
    </div>

    <div  class="button-row">
      <ion-button>Inicio:{{ viaje.hora}}</ion-button>
      <ion-button>{{viaje.fecha}}</ion-button>
    </div>
    

  </div>
  

  <ion-button expand="block" *ngIf="mostrarBoton" (click)="QR()"><img src="../../../assets/icon/qr.png" alt="QR Code" ></ion-button>
  

  <div class="button-container">
    <ion-button expand="block" class="start-button"(click)="unirse()" *ngIf="ocultarBoton">Unirse</ion-button>
    <ion-button class="back-button" expand="block" color="light" (click)="goBack()">Volver</ion-button>
  </div>


</ion-content>



