<ion-content [fullscreen]="true" class="ion-padding">
  <div class="title-container">
    <ion-label class="title-text">Bienvenido {{usuario}}</ion-label>
  </div>
  


  <div class="button-container">

    <div>
      <ion-button class="circular-button planificar-button" shape="round" (click)="planificarViaje()">
        <img src="../../../assets/icon/auto.jpg" slot="icon-only" class="button-icon" />
      </ion-button>
      <ion-label class="button-label">Planificar Viaje</ion-label>
    </div>

    <div>
      <ion-button class="circular-button" shape="round" (click)="misviajes()">
        <img src="../../../assets/icon/historial.png" slot="icon-only" class="button-icon" />
      </ion-button>
      <ion-label class="button-label">Mis Viajes</ion-label>
    </div>

    <div>
      <ion-button class="circular-button" shape="round" (click)="iniciarviaje()">
        <img src="../../../assets/icon/iniciar.png" slot="icon-only" class="button-icon" />
      </ion-button>
      <ion-label class="button-label">Iniciar Viaje</ion-label>
    </div>

    <div>
      <ion-button class="circular-button" shape="round" (click)="cancelar()">
      <ion-icon name="close" slot="icon-only" class="button-icon"></ion-icon>
      </ion-button>
      <ion-label class="button-label">Cancelar Viaje</ion-label>
    </div>

    <app-cerrar-sesion/>
    
  </div>
</ion-content>

